@page
@model DeckBuilder.Pages.Cards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/cards/details.css" />
<h1>@Model.Card.Name</h1>
<div class="row">
    <img src="@Model.Card.ImageUrl" alt="@Model.Card.Name" class="card-image" />
    <div class="card-details">
        <p>@Model.Card.Name</p>
        <p class="border-top">@Model.Card.Text</p>
        <p class="border-top">@Model.Card.Type</p>
        @if(Model.Card.Power != null && Model.Card.Power != String.Empty)
        {
            <p class="border-top">@Model.Card.Power/@Model.Card.Toughness</p>
        }
        <p class="border-bottom">Artist: @Model.Card.Artist</p>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Card.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
