@page
@model DeckBuilder.Pages.Cards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/cards/details.css" />
<h1>@Model.Card.Name</h1>
<div class="row">
    <img src="@Model.Card.ImageUrl" alt="@Model.Card.Name" class="card-image" />
    <div class="card-details">
        <dl class="card-dl">
            <dt>Name:</dt>
            <dd>@Model.Card.Name</dd>
            <dt>Text:</dt>
            <dd>@Model.Card.Text</dd>
            <dt>Type:</dt>
            <dd>@Model.Card.Type</dd>
            @if(Model.Card.Power != null && Model.Card.Power != String.Empty)
            {
                <dt>Power</dt>
                <dd>@Model.Card.Power</dd>
                <dt>Toughness</dt>
                <dd>@Model.Card.Toughness</dd>
            }
        </dl>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Card.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
