@page
@model DeckBuilder.Pages.Cards.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/cards/details.css" />
<h1>@Model.Card.Name</h1>
<div class="row">
    <img src="@Model.Card.ImageUrl" alt="@Model.Card.Name" class="card-image" />
    <div class="col-sm-4">
        <label>Name:</label>
        <p>@Model.Card.Name</p>
        <label>Text:</label>
        <p>@Model.Card.Text</p>
    </div>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Card.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
