@page
@model DeckBuilder.Pages.Cards.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form sp-page="./Index" method="get">
    <div class-"form-actions no-color>
        <p>
            Search
            <input type="text" name="SearchString" value="" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-page="./Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Card[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Card[0].SetId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Card[0].Number)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Card[0].Type)
                </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Card) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
}
    </tbody>
</table>
