@page
@model DeckBuilder.Pages.Cards.IndexModel
@using System;
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form sp-page="./Index" method="get">
    <div class-"form-actions no-color>
        <p>
            Search
            <input type="text" name="SearchString" value="" />
            <input type="submit" value="Search" class="btn btn-default" />
            <a asp-page="./Index">Back to Full List</a>
        </p>
    </div>
</form>
<div class="container">
    <div class="row">
        @foreach (var card in Model.Card)
        {
        <div class="col-sm-3">
            <h3><a asp-page="./Details" asp-route-id="@card.Id">@card.Name</a></h3>
            <div class="card-display">
                <img src="@card.ImageUrl" alt="@card.Name" class="img-responsive" />
            </div>

        </div>
        }
    </div>
</div>

@{
    var prevDisabled = !Model.Card.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Card.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Card.PageIndex - 1)"
   asp-route-searchString="@Model.CurrentFilter"
   class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.Card.PageIndex + 1)"
   asp-route-searchString="@Model.CurrentFilter"
   class="btn btn-default @nextDisabled">
    Next
</a>
